@font-face {
    font-family: Stalin;
    src: url(../fonts/stalin-one-regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow:  hidden;
    font-size: 20px;
}
ul {
    list-style: none;
}
.main-menu {
    position: absolute;
    bottom: 10%;
    z-index: 99;
}
.back-link p {
    position: absolute;
    bottom: 10%;
    z-index: 99;
}
.back-link:hover {
    color: #fff;
}
.print {
    z-index: 99;
    position: absolute;
    bottom: 10%;
    right: 3%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.print p {
    white-space: nowrap;
}

.main-menu li {
    cursor: pointer;
    padding-top: 5px;
}
.main-menu li:hover .icon2 {
    border: 4px solid #9B0707;
    color: #9B0707;
    transform: rotate(360deg);
}
.main-menu li:hover p {
    color: #fff;
}
.main-menu li p, .back-link {
    color: #9B0707;
    font-size: 1.8rem;
    font-family: "Stalin", sans-serif;
    transition: .5s;
    text-shadow: 1px 1px 1px rgba(155,7,7,0), 0 0 25px rgba(0,0,0,1), 0 0 25px rgba(0,0,0,1);
}
.content  {

    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(35, 35, 35, .7);
    position: absolute;
    padding: 40px;
}
.content__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content__info {
    width: 50%;
}
.social-box {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.social-box svg {
    width: 50px;
    height: 50px;
}
.linkedin {
    fill: #fff;
}
.content__info {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding-right: 20px;
}
.content__info {
    font-size: 0.7rem;
}
.content__info h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.social-box a {
    transition: .3s;
}
.social-box a:hover {
    opacity: .8;
}
@media screen and (max-width: 1200px) {
    .main-menu li p, .back-link {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 767px) {
    .print {
        bottom: 2%;
        right: 50%;
        transform: translateX(50%);
    }
    .main-menu, .back-link p {
        bottom: 6%;
    }
    .main-menu li {
        text-align: center;
    }

}

.main-menu li p, .back-link